*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style:none;
  font-size: 62.5%;
  color: rgba(9, 7, 11, 1);
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* fonts */
/* 4.209rem */
/* 3.157rem */
/* 2.369rem */
/* 1.777rem */
/* 1.333rem */
/* 1rem */
h1{
  font-family: 'Orelega One', cursive;
  font-size: 8.5rem;
  letter-spacing: .1rem;
}
.padding{
  padding: 1.333rem;
}
