*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style:none;
  font-size: 62.5%;
  color: white;
}

/* fonts */
/* 4.209rem */
/* 3.157rem */
/* 2.369rem */
/* 1.777rem */
/* 1.333rem */
/* 1rem */
h1{
  font-family: 'Orelega One', cursive;
  font-size: 4.209rem;
  color: rgba(242,240,231, 1);
}
