*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style:none;
  font-size: 62.5%;
  color: rgba(9, 7, 11, 1);
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* fonts */
/* 4.209rem */
/* 3.157rem */
/* 2.369rem */
/* 1.777rem */
/* 1.333rem */
/* 1rem */
h1, h3{
  font-family: 'Orelega One', cursive;
  font-size: 8.5rem;
  letter-spacing: .1rem;
}
h2, i{
  font-size: 2.369rem;
}

.padding{
  padding: 1.333rem;
}
p, a, button, input, textarea, h4 {
  font-size: 1.333rem;
}
.navBtns{
        background-color: rgba(255,255,255, .7);
        padding:1.777rem;
        border-radius: 1rem;
        width: 16rem;
        text-align: center;
        margin-right: 1.777rem;
        display: inline-block;
}
.navBtns:hover{
  background-color: blue;
}